<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/the-big-picture.css" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Neighbourhood-Finder</h1>
          <p>Knowing their customers is very important for every business.It will help them to find locations for launching as well as designing products to meet their specific needs. This app uses toronto neighbourhood census data to come up with optimal locations for your business </p>
        </div>
      </div>
    </div>
  </section>

<div class="container">
<div class="row">
  <div class="col-lg-4">

<form action="/results" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter your business</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter business" name="business">
    <small id="emailHelp" class="form-text text-muted">eg. "KFC","chinese restaurant"</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>
      </div>
    </div>







  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
